{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" media="screen"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Blog</title>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid itens">
          <a id="logo-nav" class="navbar-brand" href="#"><img src="{% static 'image/logo_innovatore_nav.png' %}"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="{% static 'image/icons/hamburguer.png' %}"style="width:22px;" alt=""></span>
          </button>
          <div class="collapse navbar-collapse nav-menu itens-texto" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link txt" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle txt" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    A Innovatore
                </a>
                <ul class="dropdown-menu">
                  <!-- <li><a class="dropdown-item" href="./pags/missao.html">Missão, visão e valores</a></li> -->
                  <li><a class="dropdown-item" href="{% url 'missao' %}">Missão, visão e valores</a></li>
                  <li><a class="dropdown-item" href="{% url 'certificacoes' %}">Certificações</a></li>
                  <li><a class="dropdown-item" href="{% url 'nossa_historia' %}">Nossa história</a></li>
                  <li><a class="dropdown-item" href="{% url 'nossa_equipe' %}">Nossa equipe</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link txt" href="{% url 'clientes'%}">Clientes</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle txt" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Projetos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'projetos' %}">Projetos</a></li>
                  <li><a class="dropdown-item" href="{% url 'industriais' %}">Industriais</a></li>
                  <li><a class="dropdown-item" href="{% url 'comerciais' %}">Comerciais</a></li>
                  <li><a class="dropdown-item" href="{% url 'logisticos' %}">Logísticos</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle txt item-nav-selecionado" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Centro de Mídia
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'contatos' %}">Contatos</a></li>
                  <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
                  <li><a class="dropdown-item" href="{% url 'trabalhe_conosco' %}">Trabalhe conosco</a></li>
                  <li><a class="dropdown-item" href="{% url 'vagas' %}">Vagas de trabalho</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="d-flex formulario" role="search">
                <input class="form-control me-2" type="search" aria-label="Search"style="background: transparent;">
                <buttonn type="submit">
                    <img src="{% static 'image/icones/Group 1.png'%}" alt="" style="width: 25px; margin-Top:8px; margin-left:10px">
                </button>
            </form>
          </div>
        </div>
    </nav>

    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-3 margem">
                    <h1 class="head-construindo-juntos">Melhorias e restruturação do terminal portuário da Cargill</h1>
                    <p class="margem-p-h1">A Cargill, uma empresa das maiores empresas do segmento de alimentos está fazendo mais um investimento e trazendo melhorias para o seu terminal portuário na cidade de Porto Velho no estado de Rondônia.</p>
                    <button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button>
                </div>
            </div>
        </div>
    </section>

    <div class="container geral">
        <div class="row">
            <div class="col-lg-7">

                <div class="container">
                        <di class="row">
                            <div class="col-7" style="margin-bottom: 20px;">
                            <h5>Principais notícias</h5>
                        </div>
                        <div class="col-lg-6 cards-blog">
                            <img src="{% static 'image/blog/melhorias.png' %}" class="imagens" alt="">
                            <p class="p-12">27 de fevereiro de 2021</p>
                            <h6>Melhorias e restruturação do terminal portuário da Cargill</h6>
                            <p class="p-12">A Cargill, uma empresa das maiores empresas do segmento de alimentos está fazendo mais um investimento...</p>
                            <a href="{% url 'noticia_blog' %}"><button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button></a>
                        </div>
                        <div class="col-lg-6 cards-blog">
                            <img src="{% static 'image/blog/dow.png' %}" class="imagens" alt="">
                            <p class="p-12">27 de fevereiro de 2021</p>
                            <h6>Projeto de ampliação e reforma Dow no Brasil</h6>
                            <p class="p-12">A Innovatore concluiu mais um grande projeto na cidade de Franco da Rocha no Estado de São Paulo.</p>
                            <a href=""><button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button></a>
                        </div>
                        <div class="col-lg-6 cards-blog">
                            <img src="{% static 'image/blog/material.png' %}" class="imagens" alt="">
                            <p class="p-12">27 de fevereiro de 2021</p>
                            <h6>Como proteger o material contra corrosão</h6>
                            <p class="p-12">O aço oferece uma combinação de alta resistência, baixo custo e facilidade de fabricação.</p>
                            <a href=""><button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button></a>
                        </div>
                        <div class="col-lg-6 cards-blog">
                            <img src="{% static 'image/blog/dow.png' %}" class="imagens" alt="">
                            <p class="p-12">27 de fevereiro de 2021</p>
                            <h6>Projeto de ampliação e reforma Dow no Brasil</h6>
                            <p class="p-12">A Innovatore concluiu mais um grande projeto na cidade de Franco da Rocha no Estado de São Paulo.</p>
                            <a href=""><button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button></a>
                        </div>
                    </di>
                </div>
            </div>
            <div class="col-lg-4 recentes">
                <input type="text"style="height: 38px;">
                <button class="btn1"><img src="{% static 'image/blog/Search.png' %}" alt=""></button>
                <h3 class="margem-100 border-botton-padrao">Posts recentes</h3>
                <div class="container margem-p-h1">
                    <div class="row">
                        <div class="col-lg12 border-botton-padrao">
                            <p>Melhorias e restruturação do terminal portuário da Cargill</p>
                            <p class="p-10">A Cargill, uma empresa das maiores empresas do segmento de alimentos está fazendo mais um investimento...</p>
                            <a class="p-10" href="">Ver notícia <img src="{% static 'image/icons/seta-azul-pequena.png' %}" alt=""> </a>
                        </div>
                        <div class="col-lg12 border-botton-padrao">
                            <p>Projeto de ampliação e reforma Dow no Brasil</p>
                            <p class="p-10">A Innovatore concluiu mais um grande projeto na cidade de Franco da Rocha no Estado de São Paulo.</p>
                            <a class="p-10" href="">Ver notícia <img src="{% static 'image/icons/seta-azul-pequena.png' %}" alt=""> </a>
                        </div>
                        <div class="col-lg12 border-botton-padrao">
                            <p>Como proteger o material contra corrosão</p>
                            <p class="p-10">O aço oferece uma combinação de alta resistência, baixo custo e facilidade de fabricação.</p>
                            <a class="p-10" href="">Ver notícia <img src="{% static 'image/icons/seta-azul-pequena.png' %}" alt=""> </a>
                        </div>
                        <div class="col-lg-12 margem-100 text-center">
                            <h3 class="border-botton-padrao">Redes Sociais</h3>
                            <!-- <a href=""><img class="redes-sociais" src="../Images/blog/twiter.png"></a> -->
                            <a href=""><img class="redes-sociais" src="{% static 'image/blog/insta.png' %}"></a>
                            <a href=""><img src="{% static 'image/blog/face.png' %}"style="width:18px; margin:10px"></a>
                            <!-- <a href=""><img class="redes-sociais" src="../Images/blog/printer.png"></a> -->
                            <a href=""><img class="redes-sociais" src="{% static 'image/blog/in.png' %}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="container margem-100">
        <div class="row">
            <div class="col-lg-3">
                <img class="imagens" src="{% static 'image/blog/melhorias.png' %}" alt="">
                <p class="p-7">27 de fevereiro de 2021</p>
                <p class="p-12">Melhorias e restruturação do terminal portuário da Cargill</p>
                <p class="p-7">A Cargill, uma empresa das maiores empresas do segmento de alimentos está fazendo mais um investimento...</p>
                <a href="{% url 'certificacoes' %}"><button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button></a>
            </div>
            <div class="col-lg-3">
                <img class="imagens" src="{% static 'image/blog/dow.png' %}" alt="">
                <p class="p-7">27 de fevereiro de 2021</p>
                <p class="p-12">Projeto de ampliação e reforma Dow no Brasil</p>
                <p class="p-7">A Innovatore concluiu mais um grande projeto na cidade de Franco da Rocha no Estado de São Paulo.</p>
                <a href=""><button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button></a>
            </div>
            <div class="col-lg-3">
                <img class="imagens" src="{% static 'image/blog/material.png' %}" alt="">
                <p class="p-7">27 de fevereiro de 2021</p>
                <p class="p-12">Como proteger o material contra corrosão</p>
                <p class="p-7">O aço oferece uma combinação de alta resistência, baixo custo e facilidade de fabricação.</p>
                <a href=""><button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button></a>
            </div>
            <div class="col-lg-3">
                <img class="imagens" src="{% static 'image/blog/melhorias.png' %}" alt="">
                <p class="p-7">27 de fevereiro de 2021</p>
                <p class="p-12">Melhorias e restruturação do terminal portuário da Cargill</p>
                <p class="p-7">A Cargill, uma empresa das maiores empresas do segmento de alimentos está fazendo mais um investimento...</p>
                <a href=""><button class="btn1">Ver notícia  <img src="{% static 'image/icons/seta.png' %}"></button></a>
            </div>
        </div>
    </div>
    <div class="container-fluid margem-100 inscreva-se">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Inscreva-se em  nossa Newsletter</h1>
                <input class="form-control-lg" type="text" placeholder="Seu E-mail"><button class="btn1">Assinar</button>
                <p style="padding-left:23%; padding-right:23%; margin-top: 50px;">Receba a cada mês as novidades de INNOVATORE no seu e-mail: notícias, ofertas de emprego e artigos de inovação da construção civil.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container footer-1">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <img src="{% static 'image/LOGO INNOVATORE 2.png" alt=""class="logo-footer">
                    <div>
                        <p class="footer-p">Horário de Funcionamento: 08:00 - 18:00 | Segunda a Sexta-Feira</p>
                    </div>
                    <div>
                        <p class="footer-p margem-p-h1">Condomínio Vista Verde Offices
                            Avenida Queiroz Filho, 1560, Escritório 418 – Torre Rouxinol, Vila Hamburguesa – São Paulos/SP CEP 05319-000</p>
                        <p class="footer-p-tel">(11) 3135-6832</p>
                        <p class="footer-p-cnpj">CNPJ 22.632.588/0001-39 </p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="divisoes-footer">
                                <h4 class="footer-h4">Sobre nós</h4>
                                <div class="p-mob">
                                    <a class="links-footer" href="{% url 'nossa_historia' %}">Nossa história <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'missao' %}">Missão, visão e valores<img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'nossa_equipe' %}">Nossa equipe <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'certificacoes' %}">Certificações <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="divisoes-footer">
                                <h4 class="footer-h4">Comunicação</h4>
                                <div class="p-mob">
                                    <a class="links-footer" href="{% url 'contatos' %}">Contatos <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'blog' %}">Blog <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'contatos' %}">Fale conosco <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="divisoes-footer">
                                <h4 class="footer-h4">Nossos projetos</h4>
                                <div class="p-mob">
                                    <a class="links-footer" href="{% url 'industriais' %}">Industriais <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'comerciais' %}">Comerciais <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'logisticos' %}">Logísticos <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-12">
                            <h4 class="inscreva-se footer-h4">Inscreva-se</h4>
                            <input class="input-footer" type="text"><button class="btn1">Assinar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container"style="margin-top: 50px">
            <div class="row">
                <div class="col-lg-6 col-md-12" style="text-align: left;">
                    <p class="footer-p">© 2022  Innovatore Engenharia, Todos os direitos reservados.</p>
                </div>
                <div class="col-lg-6 col-md-12 redes-sociais">
                        <!-- <a href=""><img class="redes-sociais-icones" src="./Images/home/twitter-line.png"></a> -->
                        <a href=""><img class="redes-sociais-icones" src="{% static 'image/home/instagram-line.png' %}"></a>
                        <a href=""><img class="redes-sociais-icones" src="{% static 'image/home/facebook-fill.png' %}"></a>
                        <!-- <a href=""><img class="redes-sociais-icones" src="./Images/home/pinterest-line.png"></a> -->
                        <a href=""><img class="redes-sociais-icones" src="{% static 'image/home/linkedin-fill.png' %}"></a>
                </div>
            </div>
        </div>
    </footer>
</body>