{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" media="screen"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/nossa-historia.css' %}">
    <title>Nossa História</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid itens">
          <a id="logo-nav" class="navbar-brand" href="#"><img src="{% static 'image/logo_innovatore_nav.png' %}"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="{% static 'image/icons/hamburguer.png' %}"style="width:22px;" alt=""></span>
          </button>
          <div class="collapse navbar-collapse nav-menu itens-texto" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link txt" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle txt item-nav-selecionado" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    A Innovatore
                </a>
                <ul class="dropdown-menu">
                  <!-- <li><a class="dropdown-item" href="./pags/missao.html">Missão, visão e valores</a></li> -->
                  <li><a class="dropdown-item" href="{% url 'missao' %}">Missão, visão e valores</a></li>
                  <li><a class="dropdown-item" href="{% url 'certificacoes' %}">Certificações</a></li>
                  <li><a class="dropdown-item" href="{% url 'nossa_historia' %}">Nossa história</a></li>
                  <li><a class="dropdown-item" href="{% url 'nossa_equipe' %}">Nossa equipe</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link txt" href="{% url 'clientes'%}">Clientes</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle txt" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Projetos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'projetos' %}">Projetos</a></li>
                  <li><a class="dropdown-item" href="{% url 'industriais' %}">Industriais</a></li>
                  <li><a class="dropdown-item" href="{% url 'comerciais' %}">Comerciais</a></li>
                  <li><a class="dropdown-item" href="{% url 'logisticos' %}">Logísticos</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle txt" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Centro de Mídia
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'contatos' %}">Contatos</a></li>
                  <li><a class="dropdown-item" href="{% url 'blog' %}">Blog</a></li>
                  <li><a class="dropdown-item" href="{% url 'trabalhe_conosco' %}">Trabalhe conosco</a></li>
                  <li><a class="dropdown-item" href="{% url 'vagas' %}">Vagas de trabalho</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="d-flex formulario" role="search">
                <input class="form-control me-2" type="search" aria-label="Search"style="background: transparent;">
                <buttonn type="submit">
                    <img src="{% static 'image/icones/Group 1.png'%}" alt="" style="width: 25px; margin-Top:8px; margin-left:10px">
                </button>
            </form>
          </div>
        </div>
    </nav>
    <div class="nossa-hist">
        <h1 class="titulo">Nossa história</h1>
        <p class="nossa-hist-p">Acreditamos que a melhor maneira de as pessoas crescerem é abraçando novas experiências e aprendendo continuamente.</p>
    </div>
    <div class="container margem-150 margem-inferior">
        
        <div class="row">
            <div class="col-lg-6 row">
                 <div class="col-12"> <h1 class="titulo-texto">Nossa história</h1></div>
                <div class="col-2">
                    <p class="ano-p">2015</p>
                </div>
                <div class="col-10">- Marco Zero da nossa história, com a fundação da Innovatore que começou em
                    Limeira/SP
                </div>
            
                <div class="col-2">
                    <p class="ano-p">2017</p>
                </div>
                <div class="col-10">- Conquistamos a certificação ISO 9001:2015 - Sistema de Gestão de Qualidade
                </div>
           
                <div class="col-2">
                    <p class="ano-p">2019</p>
                </div>
                <div class="col-10">- Inauguração da nova sede em São Paulo/SP
                </div>
            
                <div class="col-2">
                    <p class="ano-p">2021</p>
                </div>
                <div class="col-10">- Chegamos ao marco de 150 obras realizadas nos segmentos industriais, comerciais
                    e privados em 12 estados do Brasil.
                </div>
            
                <div class="col-2">
                    <p class="ano-p">2022</p>
                </div>
                <div class="col-10">- Recebemos o Selo da Certificação D-U-N-S Registered™ com validade internacional
                    que valida a saúde administrativa e financeira da Innovatore.
                    
                </div>
            </div>
    
            <div class="col-lg-6"><img class="imagens" src="{% static 'image/nossa_hist/predios.png' %}" alt=""></div>
        </div>

    </div>

    <footer>
        <div class="container footer-1">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <img src="{% static 'image/LOGO_INNOVATORE_2.png' %}" alt=""class="logo-footer">
                    <div>
                        <p class="footer-p">Horário de Funcionamento: 08:00 - 18:00 | Segunda a Sexta-Feira</p>
                    </div>
                    <div>
                        <p class="footer-p margem-p-h1">Condomínio Vista Verde Offices
                            Avenida Queiroz Filho, 1560, Escritório 418 – Torre Rouxinol, Vila Hamburguesa – São Paulos/SP CEP 05319-000</p>
                        <p class="footer-p-tel">(11) 3135-6832</p>
                        <p class="footer-p-cnpj">CNPJ 22.632.588/0001-39 </p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="divisoes-footer">
                                <h4 class="footer-h4">Sobre nós</h4>
                                <div class="p-mob">
                                    <a class="links-footer" href="{% url 'nossa_historia' %}">Nossa história <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'missao' %}">Missão, visão e valores<img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'nossa_equipe' %}">Nossa equipe <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'certificacoes' %}">Certificações <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="divisoes-footer">
                                <h4 class="footer-h4">Comunicação</h4>
                                <div class="p-mob">
                                    <a class="links-footer" href="{% url 'contatos' %}">Contatos <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'blog' %}">Blog <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'contatos' %}">Fale conosco <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="divisoes-footer">
                                <h4 class="footer-h4">Nossos projetos</h4>
                                <div class="p-mob">
                                    <a class="links-footer" href="{% url 'industriais' %}">Industriais <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'comerciais' %}">Comerciais <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                    <a class="links-footer" href="{% url 'logisticos' %}">Logísticos <img src="{% static 'image/icons/arrow-right (2).png' %}"style="width:30px" alt=""></a><br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-12">
                            <h4 class="inscreva-se footer-h4">Inscreva-se</h4>
                            <input class="input-footer" type="text"><button class="btn1">Assinar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container"style="margin-top: 50px">
            <div class="row">
                <div class="col-lg-6 col-md-12" style="text-align: left;">
                    <p class="footer-p">© 2022  Innovatore Engenharia, Todos os direitos reservados.</p>
                </div>
                <div class="col-lg-6 col-md-12 redes-sociais">
                        <!-- <a href=""><img class="redes-sociais-icones" src="./Images/home/twitter-line.png"></a> -->
                        <a href=""><img class="redes-sociais-icones" src="{% static 'image/home/instagram-line.png' %}"></a>
                        <a href=""><img class="redes-sociais-icones" src="{% static 'image/home/facebook-fill.png' %}"></a>
                        <!-- <a href=""><img class="redes-sociais-icones" src="./Images/home/pinterest-line.png"></a> -->
                        <a href=""><img class="redes-sociais-icones" src="{% static 'image/home/linkedin-fill.png' %}"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>