.projetos{
    background-image: url('../image/projetos/bg-projetos.jpg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: 0px;
}
.projetos-p-titulo{
    width: 45%;
    margin-left: 30%;
    text-align: center;
}
.ul-projetos{
    margin-left: 22%;
    margin-top: 50px;
}
.li-projetos{
    display: inline-block;
    padding: 0 50px;
    list-style:circle;
}
.construimos{
    font-size: 28px;
    padding:0px 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.projetos-p{
    margin-top: 9%;
}

.div-projetos{
    margin-bottom: 5px;
    border-left: 3px solid #CFA62A;
}
.final-projetos{
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: rgba(12,39,78, 0.05);
}
a{
    color: #0C274E;
}
.tag-veja-mais{
    cursor: pointer;
}
.div-industriais{
    display: flex;
}
.div-comerciais{
    display: none;
}
.div-logisticos{
    display: none;
}
.link-industriais{
    cursor: pointer;
    font-weight: 500;
}
.link-comerciais{
    cursor: pointer;
    font-weight: normal;
}
.link-logisticos{
    cursor: pointer;
    font-weight: normal;
}
.lista-industriais{
    overflow: hidden;
    height: 265px;
}
.lista-comerciais{
    overflow: hidden;
    height: 237px;
}
.lista-logisticos{
    overflow: hidden;
    height: 265px;
}
@media screen and (max-width: 1000px){
    .projetos{
        background-image: url('../image/projetos/projetos-mob.jpg');
        text-align: center;
        margin-top: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 550px;
    }
    .titulo-projetos{
        margin-top: -300px;
        font-size: 36px;
    }
    .projetos-p-titulo{
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }
    .construimos{
        font-size: 28px;
        padding:0px 0px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .container-final{
        text-align: left;
    }
}